@font-face {
    font-family: "OpenSans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
}

body {
    margin: 0rem;


}



.wrapper {

    display: grid;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
   

    grid-template-columns: 1fr 35%;

    /* background-image: url('https://github.com/ClementVaugoyeau/cv-ligne/blob/master/images/backgroundCode.jpg?raw=true'); */
    background-color: rgb(80, 80, 80);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    text-align: justify;

}



/* h3 {
    margin: 1rem;
    color: rgb(63, 63, 177);
    font-size: 1.5rem;
} */

/* h3.active {
    margin: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
} */

#titleParagraphe {
    margin: 1rem;
    color: rgb(63, 63, 177);
    font-size: 1.5rem;
    
}

#titleParagraphe.active {
    margin: 1rem;
    color: rgb(126, 126, 182);
    font-size: 1.5rem;
    
}

/* autres id paragraphe fin du style.css autre solution a trouver pour creer plein d id */






#nom {
    font-size: 2rem;
}


#htmlIcon {
    color: #e44d26;
    font-size: 1.5rem;
    

}

#cssIcon {
    color: #264DE4;
    font-size: 1.5rem;

}

#reactIcon {
    color: #38a1be;
    font-size: 1.5rem;

}

#sassIcon {
    color: #CC6698;
    font-size: 1.5rem;

}



.job {

    font-size: 1.1em;
    font-weight: bolder;
}

#Nom {
    color: rgb(63, 52, 52);
}

#Nom.active {
    color: rgb(230, 220, 214);
}

ul {
    margin: 1em;
}

p {
    font-size: 1rem;
    margin: 1rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#date {
    color: rgb(48, 53, 53);
    line-height: 1rem;
}

#date.active {
    color: rgb(213, 231, 213);
}







#box1 {
    position: -webkit-sticky;
    position: sticky;

    display: inline;
    background-color: rgb(230, 230, 230);
    margin: 1rem;
    border-radius: 1rem;
    opacity: 0.95;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

i {
    font-size: 1.25rem;
}


#box1.active {
    background-color: rgb(20, 19, 19);
    opacity: 1;
    color: rgb(230, 230, 230);
    transition: 0.5s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

#box2 {

    background-color: rgb(230, 230, 230);
    margin: 1rem;
    border-radius: 1rem;
    opacity: 0.9;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;


}

#box2.active {
    background-color: rgb(20, 19, 19);
    opacity: 1;
    color: rgb(230, 220, 214);
    transition: 0.5s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}



a:link {
    text-decoration: none;
}



.coordonnes {
    text-align: center;
    position: -webkit-sticky;
   
}

.photo {
    text-align: center;
    padding: 2rem;
}

#githubIcon {

    color: #000000;
    font-size: 1.7rem;

}

#githubIcon.active {

    color: #ffffff;
    font-size: 1.7rem;

}

#artsIcon {

    color: #000000;
    font-size: 1.7rem;
    

}

#artsIcon.active {

    color: #ffffff;
    font-size: 1.7rem;
    

}


#toggle {
    position: relative;
    float: right;
    width: 2rem;
    height: 1em;
    margin: 1rem;
    border-radius: 1rem;
    background: #222;
    transition: 0.5s;
    box-shadow: inset 0px 8px 60px rgba(0, 0, 0, 0.1),
        inset 0px 8px 60px rgba(0, 0, 0, 0.1),
        inset 0px 8px 60px rgba(0, 0, 0, 0.1);
}

#toggle.active {
    background: rgb(192, 192, 192);


}

#toggle .indicator {

    position: absolute;
    width: 1rem;
    height: 1em;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1),
        inset 0 4px 4px rgba(255, 255, 255, 0.2),
        inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    cursor: pointer;

}

#toggle.active .indicator {
    background: rgb(214, 214, 214);
    left: 1rem;


}

#toggleLanguages {
    position: relative;
    float: right;

    width: 2rem;
    height: 1em;
    margin: 1rem;
    border-radius: 1rem;
    background: #222;
    transition: 0.5s;
    box-shadow: inset 0px 8px 60px rgba(0, 0, 0, 0.1),
        inset 0px 8px 60px rgba(0, 0, 0, 0.1),
        inset 0px 8px 60px rgba(0, 0, 0, 0.1);
}

#toggleLanguages .indicator {
    position: absolute;
    width: 1rem;
    height: 1em;
    background: rgb(0, 35, 149);
    background: linear-gradient(90deg, rgba(0, 35, 149, 1) 0%, rgba(0, 35, 149, 1) 32%, rgba(255, 255, 255, 1) 32%, rgba(255, 255, 255, 1) 66%, rgba(230, 40, 55, 1) 66%, rgba(230, 40, 55, 1) 100%);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1),
        inset 0 4px 4px rgba(255, 255, 255, 0.2),
        inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    cursor: pointer;


}

#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

#titleParagraphe2 {
    margin: 1rem;
    color: rgb(63, 63, 177);
    font-size: 1.5rem;
    
}

#titleParagraphe2.active {
    margin: 1rem;
    color: rgb(126, 126, 182);
    font-size: 1.5rem;
    
}

#titleParagraphe3 {
    margin: 1rem;
    color: rgb(63, 63, 177);
    font-size: 1.5rem;
    
}

#titleParagraphe3.active {
    margin: 1rem;
    color: rgb(126, 126, 182);
    font-size: 1.5rem;
    
}

#titleParagraphe4 {
    margin: 1rem;
    color: rgb(63, 63, 177);
    font-size: 1.5rem;
    
}

#titleParagraphe4.active {
    margin: 1rem;
    color: rgb(126, 126, 182);
    font-size: 1.5rem;
    
}

#titleParagraphe5 {
    margin: 1rem;
    color: rgb(63, 63, 177);
    font-size: 1.5rem;
    
}

#titleParagraphe5.active {
    margin: 1rem;
    color: rgb(126, 126, 182);
    font-size: 1.5rem;
    
}

@media screen and (max-width: 800px) {
    p {

        font-size: 1rem;
        margin: 1rem;
    }

    .wrapper {
        display: flex;
        grid-template-columns: 100%;
        flex-direction: column-reverse;


    }

    #sticky {
        position: relative;

    }

    #box2 {
      padding-bottom: 2rem;

    }





}