@font-face {
    font-family: "OpenSans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
}

.wrapper {
    
    display: grid;
    grid-template-columns: 1fr 35%;
    
    background-image: url('https://github.com/ClementVaugoyeau/cv-ligne/blob/master/images/backgroundCodeBlur.jpg?raw=true');
    color: rgb(43, 33, 33);
}

h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1em;
    text-align: justify;
}

.job {
    
    font-size: 1.1em;
    font-weight: lighter;
}

.Nom {
    color: rgb(63, 52, 52);
}

ul {
    margin: 1em;
}

p {
    margin: 1rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.date {
    color: rgb(48, 53, 53);
    line-height: 1rem;
}

h3 {
    color: rgb(63, 63, 177);
}

.box1 {

    display: inline;
    background-color: rgb(195, 209, 195);
    margin: 1rem;
    border-radius: 1rem;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
}


.box2 /* Coordonees */{
    
    background-color: rgb(195, 209, 195);
    margin: 1rem;
    border-radius: 1rem;
    opacity: 0.9;

    font-family: Arial, Helvetica, sans-serif;
}

.coordonnes
{
    text-align: center;
}

.photo {
    text-align: center;
    margin-top: 10%;
}

#toggle
{
position: relative;
float: right;
width: 2rem;
height: 1em;
margin: 1rem;
border-radius: 1rem;
background: #222;
transition: 0.5s;
box-shadow: inset 0px 8px 60px rgba(0, 0, 0, 0.1),
            inset 0px 8px 60px rgba(0, 0, 0, 0.1),
            inset 0px 8px 60px rgba(0, 0, 0, 0.1);
}

#toggle .indicator
{
  
  position: absolute;
  
  width: 1rem;
  height: 1em;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1),
              inset 0 4px 4px rgba(255, 255, 255, 0.2),
              inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
             
}

@media screen and (max-width: 800px) {
    p {
        
        font-size: 1rem;
        margin: 1rem;
    }

    .wrapper {
        display: flex;
        grid-template-columns: 100%;
        flex-direction: column-reverse;
      
        
    }

@media (prefers-color-scheme: dark) {
html {
filter: invert(100%);
}
}


}